{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{path('new_match')}}">New Match</a></li>
        <li><a href="{{path('join_match')}}">Join Match</a></li>
        <li><a href="{{path('edit_match')}}">Edit Match</a></li>
        <li><a href="{{path('subject_menu')}}">Subject Menu</a></li>
    </ul>

{% endblock body %}
