{% extends 'base.html.twig' %}

{% block title %}5 Seconds - Subject Menu{% endblock %}
{% block heading1 %}Subject Menu{% endblock %}



{% block body %}

    <div class="table">
        <div class="table-row">
            <span class="table-cell">Subject name</span>
            <span class="table-cell">Description</span>
        </div>
        <ul>
            {% for subject in subjects %}
                <li class="table-row">
                    <span class="table-cell">{{subject.name}}</span>
                    <span class="table-cell">{{subject.description}}</span>
                </li>
            {% endfor %}
        </ul>
        <p>
            New Subject
        </p>
        <form class="table-row" action="{{path('add_subject')}}" method="post">
            <input class="table-cell" type="text" name="name">
            <input class="table-cell" type="text" name="description">
            <input type="submit">
        </form>


    </div>

{% endblock body %}
